<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header-setup"></div>

<body>
	<div th:replace="fragments/header :: header"></div>
	<div th:replace="fragments/header :: jumbotron"></div>
	<div th:if="${saved}" class="container-fluid">
		<div class="alert alert-success alert-dismissable fade in" align="center">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <strong>Saved!</strong>
		</div>
	</div>
	<div class="container-fluid">
		<div class="panel panel-default table-responsive">
			<div class="panel-heading">
				<h2 style="display: inline">Players</h2>
				<a th:href="@{/admin/player/add}" class="btn btn-info pull-right" role="button">Add <span class="glyphicon glyphicon-plus"></span></a>
			</div>
			<div class="panel-body">
				<table class="table table-striped table-hover" id="players-table">
					<thead>
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Phone</th>
							<th>Email</th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="player : ${players}">
							<td th:text="${player.firstName}"></td>
							<td th:text="${player.lastName}"></td>
							<td><a th:href="'tel:' + ${player.phone}" th:text="${player.phone}"></a></td>
							<td><a th:href="'mailto:' + ${player.email}" th:text="${player.email}"></a></td>
							<td><a href="#" th:href="@{'/player/' + ${player.id}}" role="button" title="View"> <span class="glyphicon glyphicon-user"></span></a></td>
							<td><a href="#" th:href="@{'/admin/player/edit/' + ${player.id}}" role="button" title="Edit"> <span class="glyphicon glyphicon-edit"></span></a></td>
							<td><a href="#" th:href="@{'/admin/player/delete/' + ${player.id}}" role="button" title="Delete"> <span class="glyphicon glyphicon-minus"></span></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>