<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:replace="fragments/header :: header-setup"></div>

<body>
	<div th:replace="fragments/header :: header"></div>
	<div th:replace="fragments/header :: jumbotron"></div>
	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>Add Player</h2>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" th:action="@{/admin/player/add/submit}" th:object="${player}" method="post">
					<div th:include="admin/player-form"></div>
				</form>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>