<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header-setup"></div>

<body>
	<div th:replace="fragments/header :: header"></div>
	<div th:replace="fragments/header :: jumbotron"></div>
	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>
					<span th:text="#{calendar.seasons}"></span>
				</h2>
			</div>
			<div class="panel-body">
				<div class="panel-group">
					<div th:each="season : ${seasons}" class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" th:href="${'#panel' + season.id}" th:text="${season.year}"></a> <label class="pull-right" th:text="${'(' + season.getWins(arnoldsId) + ' - ' + season.getLosses(arnoldsId) + ')'}"></label>
							</h4>
						</div>
						<div th:id="${'panel' + season.id}" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="table-responsive">
									<table class="table table-striped">
										<thead>
											<tr>
												<th title="Date">Date</th>
												<th title="Time">Time</th>
												<th title="Description">Matchup</th>
												<th title="Result">Result</th>
												<th title="Score">Score</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="game : ${season.games}">
												<!-- 								<td th:text="${game.localDateTime}"></td> -->
												<td th:text="${#temporals.format(game.localDateTime, 'MM/dd/yyyy')}"></td>
												<td th:text="${#temporals.format(game.localDateTime, 'hh:mm a')}"></td>
												<td th:text="${arnoldsId == game.homeTeam.id ? 'vs. ' + game.awayTeam.name : '@ ' + game.homeTeam.name}"></td>
												<td th:text="${arnoldsId == game.homeTeam.id ? (game.homeScore &gt; game.awayScore) ? 'W' : 'L' : (game.homeScore &lt; game.awayScore) ? 'W' : 'L'}"></td>
												<td th:text="${arnoldsId == game.homeTeam.id ? game.homeScore + ' - ' + game.awayScore : game.awayScore + ' - ' + game.homeScore}"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>