<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header-setup"></div>

<body>
	<div th:replace="fragments/header :: header"></div>
	<div th:replace="fragments/header :: jumbotron"></div>
	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 th:text="${player.firstName} + ' ' + ${player.lastName}"></h2>
			</div>
			<div class="panel-body">
				<table class="table table-striped table-responsive">
					<thead>
						<tr>
							<th title="Year">Year</th>
							<th title="At Bats">AB</th>
							<th title="Runs">R</th>
							<th title="Hits">H</th>
							<th title="RBI">RBI</th>
							<th title="Walks">BB</th>
							<th title="Strike Outs">SO</th>
							<th title="Batting Average">AVG</th>
							<th title="Slugging %">SLG</th>
							<th title="On Base Plus Slugging">OPS</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="s : ${player.statisticalYears}">
							<td th:text="${s.year}"></td>
							<td th:text="${s.atBats}"></td>
							<td th:text="${s.runs}"></td>
							<td th:text="${s.hits}"></td>
							<td th:text="${s.rbi}"></td>
							<td th:text="${s.walks}"></td>
							<td th:text="${s.strikeOuts}"></td>
							<td th:text="${s.battingAverage}"></td>
							<td th:text="${s.slugging}"></td>
							<td th:text="${s.onBasePercentage}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>