<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th title="Date">Date</th>
				<th title="Time">Time</th>
				<th title="Description">Matchup</th>
				<th title="Result">Result</th>
				<th title="Score">Score</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="game : ${season.games}">
				<!-- 								<td th:text="${game.localDateTime}"></td> -->
				<td th:text="${#temporals.format(game.localDateTime, 'MM/dd/yyyy')}"></td>
				<td th:text="${#temporals.format(game.localDateTime, 'h:mm a')}"></td>
				<td th:text="${arnoldsId == game.homeTeam.id ? 'vs. ' + game.awayTeam.name : '@ ' + game.homeTeam.name}"></td>
				<td th:text="${arnoldsId == game.homeTeam.id ? (game.homeScore &gt; game.awayScore) ? 'W' : 'L' : (game.homeScore &lt; game.awayScore) ? 'W' : 'L'}"></td>
				<td th:text="${arnoldsId == game.homeTeam.id ? game.homeScore + ' - ' + game.awayScore : game.awayScore + ' - ' + game.homeScore}"></td>
			</tr>
		</tbody>
	</table>
</div>